{% extends "BlogBundle::layout.html.twig" %}
{% block menu %}
    {% include 'BlogBundle:Category:menu.categories.html.twig' %}
{% endblock %}
{% block content %}
    {% for message in app.session.flashBag().get('status') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for entry in entries %}
        <div class="col-lg-11">
            <p class="pull-left" style="margin-right: 20px;">
                {% if (entry.image != '') %}
                <img width="200" src="{{ asset('uploads/' ~ entry.image)}}">
                {% else %}
            <div>Sin imagen</div>
            {% endif %}
            </p>
            <p><strong>{{ entry.title }}</strong></p>
            <p>{{ entry.category.name }}</p>
            <p>Autor: {{ entry.user.name }}</p>
            <p>
                {% for et in entry.entryTag %}
                    {{ et.tag.name }}
                {% endfor %}
            </p>
            {% if (app.user.id is defined and (entry.user.id == app.user.id)) %}
                <p>
                    <a class="btn btn-danger" href="{{ path('entriesDelete', {'id':entry.id}) }}">Eliminar</a>
                    <a class="btn btn-warning" href="{{ path('entriesEdit', {'id':entry.id}) }}">{% trans %}btn_edit{% endtrans %}</a>
                </p>
            {% endif %}
            <hr>
            <div class="clearfix"></div>
        </div>

    {% endfor %}
    {% if (pagesCount >= 2) %}
    <ul class="pagination">
        <li>
            {% if (currentPage == 1) %}
            <a href="#">&laquo;</a>
            {% else %}
                <a href="{{ path('entriesIndex', {'page': (currentPage - 1)}) }}">&laquo;</a>
            {% endif %}
        </li>
            {% for page in 1..pagesCount %}
                <li><a href="{{ path('entriesIndex', {'page': page}) }}">{{ page }}</a></li>
            {% endfor %}
        <li>
            {% if ( currentPage == pagesCount) %}
                <a href="#">&raquo;</a>
            {% else %}
                <a href="{{ path('entriesIndex', {'page': (currentPage + 1)}) }}">&raquo;</a>
            {% endif %}
        </li>
    </ul>
    {% endif %}
    <div class="clearfix"></div>
{% endblock %}
